.App {
  text-align: center;
}

/* Header */
.header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headerList{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerList * {
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

/* Body */

body {
  padding-bottom: 20px;
}

.about, .projects, .resume {
  padding: 20px 100px;
  margin: 50px;
  border-radius: 20px;
  background: #282c34;
  color: white;
}
